# The VM has no HDMI-A outputs, so this profile is simply ignored there.
profile {
	output HDMI-A-1 enable mode 1920x1080@60.000 position 0,0 transform normal
	output HDMI-A-2 enable mode 1920x1080@60.000 position 1920,0 transform normal
}

profile {
	output HDMI-A-1 enable mode 1920x1080@60.000 position 0,0 transform normal
}
