<?xml version="1.0"?>
<labwc_config>
  <windowRules>
    <windowRule identifier="TrainCam-HDMI-1">
      <action name="MoveToOutput" output="HDMI-A-1" />
      <action name="ToggleFullscreen" />
    </windowRule>
    <windowRule identifier="TrainCam-HDMI-2">
      <action name="MoveToOutput" output="HDMI-A-2" />
      <action name="ToggleFullscreen" />
    </windowRule>
  </windowRules>
</labwc_config>
